{% extends "base.html"%}
{% block content %}

  <div class="text-center">
    
    <!--  html 전체 영역을 지정하는 container -->
    <div id="container">
      <!--  login 폼 영역을 : loginBox -->
      <div id="loginBox">
      
        <!-- 로그인 페이지 타이틀 -->
        <div id="loginBoxTitle">game login</div>
        <!-- 아이디, 비번, 버튼 박스 -->
        <div id="inputBox">
            <form action="{{url_for('login_check')}}" method="post">
                <div class="input-form-box"><span>아이디 </span><input type="text" name="userid" class="form-control"></div>
                <div class="input-form-box"><span>비밀번호 </span><input type="password" name="userpw" class="form-control"></div>
                <div class="button-login-box" >
                    <input class="btn btn-primary btn-xs" type="submit" value="로그인" style="width:100%">
                </div>
            </form>
        </div>
        
      </div>
    </div>

    <!-- 나의 스타일 추가 -->
    <link rel="stylesheet" href="./login.css">
  </div>
{% endblock %}