<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>BoB Web Game</title>
    </head>
    <body>
        {% include "components/navbar.html" %}
        <div class="main">
            <h1>My Page</h1>
            <div class="info">
                <h3>Character Info</h3>
                class : {{player.class_}}</br>
                level : {{player.lv_}}</br>
                hp : {{player.stat_n_.hp_}}</br>
                atk : {{player.stat_n_.atk_}}</br>
                def : {{player.stat_n_.def_}}</br>
                element : {{player.stat_n_.atkelement_}}</br>
            </div>
        </div>
    </body>
</html>
